---
title: Detective Duck
description: My graduation thesis. A 'whodunit' game that experiments with real-time dialogue generation using ChatGPT for educational applied games.
date: '2023-4-14'
category: project
published: true
youtubeURL: https://www.youtube.com/embed/e1HN3MVz4hs?si=VVxP0dMiau2VbU7e
---

<script>
   import Summary from '$lib/components/svx/Summary.svelte';
</script>


<div class="flex mt-4">
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/e1HN3MVz4hs?si=VVxP0dMiau2VbU7e"
 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

# What is Detective Duck? 

<Summary>
<span class="text-primary">Detective Duck</span> is a 'whodunit' game that experiments with real-time dialogue generation using ChatGPT for educational applied games. The game is designed for <a href="https://www.ranj.com/">&Ranj</a>, a Dutch game studio that specializes in creating serious games. It is the result of my graduation thesis for the Bachelor of Science in Game Development at the Amsterdam University of Applied Sciences.
</Summary>

# My contributions

**Everything!**
- Game design
- Art direction and asset creation
- Research and development for the real-time dialogue generation system, leveraging ChatGPT
- Implementation of the dialogue system
